@import 'base/reset.css';
@import 'base/variables.css';
@import 'base/typography.css';
@import 'layout/navbar.css';
@import 'layout/container.css';
@import 'components/calendar.css';
@import 'components/course.css';
@import 'components/modal.css';
@import 'components/toast.css';
@import 'components/form.css';
@import 'components/import.css';
@import 'components/tooltip.css';
